/* 
Colors:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 100, 131, 0.8)), url(/img/hero.jpg);
  background-size: cover;
  min-block-size: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .logo {
    block-size: 7rem; }
  .header__content {
    max-inline-size: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
