* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  display: inline-block;
  inline-size: 100%; }

/* 
Colors:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
.u-c-text {
  text-align: center; }

.u-m-b-l {
  margin-block-end: 8rem; }

.u-m-b-s {
  margin-block-end: 1.6rem; }

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-block-end: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 350ms ease; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: moveInRight 350ms ease; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-block-end: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  transition: all 20ms;
  position: relative; }

.btn::after {
  content: '';
  display: inline-block;
  block-size: 100%;
  inline-size: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 120ms; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }
  .btn--white:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--animated {
  animation: btnAnimation 650ms ease-in;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #7ed56f;
  text-decoration: none;
  border-block-end: 1px solid #7ed56f;
  padding: 3px;
  transition: all 75ms; }
  .btn-text:link:hover, .btn-text:visited:hover {
    background: #7ed56f;
    color: #fff;
    box-shadow: 0 1rem 2rem #cccccc6e;
    transform: translateY(-2px); }
  .btn-text:link:active, .btn-text:visited:active {
    box-shadow: 0 0.5rem 1rem rgba(90, 90, 90, 0.3);
    transform: translateY(0); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 100, 131, 0.8)), url(/img/hero.jpg);
  background-size: cover;
  min-block-size: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .logo {
    block-size: 3.5rem; }
  .header__content {
    max-inline-size: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-inline-size: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-block-end: 8rem; }

.section-about {
  background: #eee;
  padding: 25rem 0 45rem 0;
  margin-top: -20rem; }
  .section-about .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem; }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.92); }
  .composition__photo {
    inline-size: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(88, 88, 88, 0.5);
    outline-offset: 1rem;
    transition: all 150ms ease;
    z-index: 10; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(54, 54, 54, 0.5);
      outline: 1rem solid #7ed56f;
      z-index: 20; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
