/* 
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
 */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
 * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 9px;
}
/* Start of header styles */
/* Heading animations */
@keyframes moveInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes moveInRight {
    0% {
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.header {
    block-size: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
        /* Start of logo */
        &__logo-box {
            position: absolute;
            top: 40px;
            left: 40px;
        }
        &__logo {
            block-size: 35px;
        }
        /* End of logo */
        /* Start of header text */
        &__text-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-block-end: 40px;
        &--main {
            display: block;
            font-size: 60px;
            font-weight: 400;
            letter-spacing: 35px;
            animation: moveInLeft 250ms ease-out;
        }
        &--sub {
            display: block;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 17.4px;
            animation: moveInRight 250ms ease-out;
        }
}
/* End of header text */
/* Start of header button */
.btn {
    &::after {
        content: '';
        display: inline-block;
        block-size: 100%;
        inline-size: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
        transition: all 200ms;
    }
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 100px;
        transition: animation 200ms ease;
        position: relative;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    &--animated {
        animation: moveInBottom 500ms ease-out 750ms;
        animation-fill-mode: backwards;
    }
    &--white {
        background-color: #fff;
        color: $color-grey-dark;
        &::after {
            background-color: #fff;
        }
    }
}
/* End of header button */
/* End of header styles */