@import "base/base";
@import "base/variables";
@import "base/utilities";
@import "base/typography";
@import "base/animations";
@import "components/button";
@import "layout/header";
.row {
    max-inline-size: 114rem;
    background-color: $light-background-grey;
    margin: 0 auto;

    &:not(:last-child) {
        margin-block-end: 8rem;
    }
}

.section-about {

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}