@import "base/variables";
@import "base/animations";
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    // Setting font size to 10px
    font-size: 62.5%;
}
body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $light-font-color;
    padding: 2.5rem;
}
// Start of header styles
.header {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 100, 131, 0.8)
    ), url(/img/hero.jpg);
    background-size: cover;
    min-block-size: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    .logo {
        block-size: 7rem;
    }
    &__content {
        max-inline-size: fit-content;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .heading-primary {
        color: $white-font-color;
        text-transform: uppercase;
        margin-block-end: 6rem;
    }
    .heading-primary--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 350ms ease;
    }
    .heading-primary--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        animation: moveInRight 350ms ease;
    }
}
// End of header styles
// Start of button styles
.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2.7rem;
    padding: 1.5rem 4rem;
}
.btn-white {
    background-color: $white-font-color;
    color: $light-font-color;
}
// End of button styles