.section-about {
    background: $light-background-grey;
    padding: 25rem 0 45rem 0;
    margin-top: -20rem;

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 4rem;
    }
}
.section-features {
    background-image: linear-gradient(
        to right bottom,
        rgba(92, 160, 86, 0.8),
        rgba(21, 106, 77, 0.8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    padding: 20rem 0;
    margin-block-start: -12rem;
    
    & > * {
        transform: skewY(7deg);
    }

}