.section-about {
    padding: 34rem 2rem;
    margin-block-start: -24vh;

    @media (max-width:844px) {
        padding-block-end: 45rem;
    }
}
.section-features {
    padding: 20rem 4rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-block-start: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}
.section-tours {
    padding: 38rem 0 50rem 0;
    margin-block-start: -13rem;

    .btn {
        margin-block-start: 10rem;
    }
}
.section-stories {
    background-color: #f8f8f8;
    padding: 15rem 0;
}