.section-about {
    padding: 34rem 2rem;
    margin-block-start: -24vh;
}
.section-features {
    padding: 20rem 4rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}