// Start of button styles
.btn {
    &:link,
    &:visited {
        display: inline-block;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        transition: all 20ms;
        position: relative;
    }
    &::after {
        content: '';
        display: inline-block;
        block-size: 100%;
        inline-size: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 120ms;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    &--white {
        background-color: $white-font-color;
        color: $light-font-color;
        &::after {
            background-color: $white-font-color;
        }
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &--green {
        background-color: $dark-background-green;
        color: $white-font-color;
        &::after {
            background-color: $dark-background-green;
        }
        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &--animated {
        animation: btnAnimation 650ms ease-in;
        animation-fill-mode: backwards;
    }
}
.btn-text {
    &:link,
    &:visited {
        display: inline-block;;
        font-size: 1.6rem;
        color: $light-background-green;
        text-decoration: none;
        border-block-end: 1px solid $light-background-green;
        padding: 3px;
        transition: all 75ms;

        &:hover {
            background: $light-background-green;
            color: $white-font-color;
            box-shadow: 0 1rem 2rem #cccccc6e;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 .5rem 1rem rgba(90, 90, 90, 0.3);
            transform: translateY(0);
        }

    }
}

// End of button styles