.composition {
    position: relative;

    @include respond(phone) {
        inline-size: 80%;
        margin: 0 auto;
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.92);
    }
    
    &__photo {
        inline-size: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba(88, 88, 88, .5);
        outline-offset: 1rem;
        transition: all 150ms ease;
        z-index: 10;

        @include respond(tab-port) {
            inline-size: 33%
        }
        
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba(54, 54, 54, .5);
            outline: 1rem solid $light-background-green;
            z-index: 20;
        }

        &--p1 {
            top: -2rem;
            left: 0;
            
            @include respond(tab-port) {
                top: -2PX;
                transform: scale(.98);
            }
        }
        &--p2 {
            top: 2rem;
            right: 0;

            @include respond(tab-port) {
                top: -20px;
                right: 1rem;
            }
        }
        &--p3 {
            top: 10rem;
            left: 20%;

            @include respond(tab-port) {
                top: 2px;
                left: 33%;
                transform: scale(1.1);
            }
        }
    }
}