.section-features__card {
    background-color: rgba(255, 255, 255, .4);
    .feature-content {
        background-color: rgba(255, 0, 0, 0.4);
        font-size: 1.5rem;
        text-align: center;
        border-radius: 0 1.5rem 4rem rgba(76, 76, 76, .3);
        padding: 2.5rem;
        transition: transform 125ms;

        &:hover {
            transform: transalteY(-1.5rem) scale(1.03);
        }
    }
}