.form {
    &__group {
        &:not(:last-child) {
            margin-block-end: 2rem;
        }
    }

    &__input {
        inline-size: 90%;
        display: block;
        background-color: rgba(255, 255, 255, .5);
        color: inherit;
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(9, 0, 0, .1);
            border-block-end: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-block-end: 3px solid $color-secondary-dark;
        }

        &::input-placeholder {
            color: $color-grey-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        inline-size: 49%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    
    &__radio-button {
        block-size: 3rem;
        inline-size: 3rem;
        display: inline-block;
        border: 5px solid $color-primary;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.525rem;

        &::after {
            background-color: $color-primary;
            content: '';
            block-size: 1.3rem;
            inline-size: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }

    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}