.form {
    
    &__group:not(:last-child) {
        margin-block-end: 2rem;
    }

    &__input {
        display: block;
        inline-size: 75%;
        color: inherit;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 2px;
        padding: 1.5rem 2rem;;
        border: none;
        border-block-end: 3px solid transparent;

        @include respond(tab-port) {
            padding: .2rem .4rem;
        }

        &::-webkit-input-placeholder {
            color: #999;
        }

        &:focus {
            outline: none;
            border-block-end: 3px solid $dark-background-green;
            box-shadow: 3px solid $dark-background-green;
        }

        &:focus:invalid {
            border-block-end: 3px solid red;
        }
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-inline-start: 2rem;
        margin-block-start: .2rem;
        opacity: 1;
        transition: all 250ms;
    }

    &__radio-group {
        inline-size: 49%;
        display: inline-block;

        @include respond(tab-port) {
            display: block;
            inline-size: 100%;
            
            &:not(:last-child) {
                margin-block-end: 1rem;
            }
        }
        @include respond(phone) {
            &:not(:last-child) {
                margin-block-end: .2rem;
            }
        }
    }

    &__radio-label {
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-inline-start: 4.5rem;
    }

    &__radio-input {
        display: none;
    }

    &__radio-button {
        display: inline-block;
        block-size: 3rem;
        inline-size: 3rem;
        border: 5px solid $dark-background-green;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: '';
            display: block;
            background-color: $dark-background-green;
            block-size: 100%;
            inline-size: 100%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 20ms;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

}
