.form {

    &__group:not(:last-child) {
        margin-block-end: 2rem;
    }

    &__input {
        display: block;
        inline-size: 75%;
        color: inherit;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 2px;
        padding: 1.5rem 2rem;;
        border: none;
        border-block-end: 3px solid transparent;

        &::-webkit-input-placeholder {
            color: #999;
        }

        &:focus {
            outline: none;
            border-block-end: 3px solid $dark-background-green;
            box-shadow: 3px solid $dark-background-green;
        }

        &:focus:invalid {
            border-block-end: 3px solid red;
        }
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-inline-start: 2rem;
        margin-block-start: .2rem;
        opacity: 1;
        transition: all 250ms;
    }
}