body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $light-font-color;
    padding: 2.5rem;
}
.heading-primary {
    color: $white-font-color;
    text-transform: uppercase;
    margin-block-end: 6rem;

     &--main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            animation: moveInLeft 350ms ease;
    }
    &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.5rem;
            animation: moveInRight 350ms ease;
    }
}
.heading-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $light-background-green, $dark-background-green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
}