// Center text
.u-c-text {
    text-align: center;
}
// Margins
.u-m-b-s {
    margin-block-end: 1.6rem;
}
.u-m-b-m {
    margin-block-end: 4rem;
}
.u-m-b-l {
    margin-block-end: 8rem;
}
.u-m-t-xl {
    margin-block-start: 8.75rem;
}