/* 
Page colors:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Card gradients:
yellow: #ffb900;
orange: #ff7730;
blue: #2998ff;
purple: #5643fa;
*/
$light-background-green: #7ed56f;
$medium-background-green: #55c57a;
$dark-background-green: #28b485;
$light-background-grey: #eee;
// Tours gradient
$tours-card-yellow: #ffb900;
$tours-card-orange: #ff7730;
$tours-card-blue: #2998ff;
$tours-card-purple: #5643fa;

$light-font-color: #777;
$white-font-color: #fff;