/* 
Colors:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
$light-background-green: #7ed56f;
$medium-background-green: #55c57a;
$dark-background-green: #28b485;

$light-font-color: #777;